<html lang="en">
  <%- include("./component/head.ejs") %>

  <body>
    <%- include("./component/nav.ejs") %>

    <div class="details content">
      <a class="delete" data-doc="<%= blog._id %>"
        ><img src="/can.svg" alt="delete icon"
      /></a>
      <a class="update" href="/blogs/update/<%= blog._id %>">update</a>
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
    </div>

    <%- include("./component/footer.ejs") %>

    <script>
      const trashcan = document.querySelector('a.delete');

      trashcan.addEventListener('click', (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: 'DELETE',
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
